@import 'variables';
#skills {
    .skills {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        .skill {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                color: white;
                font-size: 6rem;
                margin: 1rem 0;
            }
            p {
                color: #fff;
                font-size: 1.4rem;
            }
        }
    }
}